<!DOCTYPE html>
<html>
<head>
    <% include generic/head.ejs %>
</head>
<body>
<% include generic/header.ejs %>

<section>
    <h1>Resource not found. :(</h1>
</section>

<% include generic/footer.ejs %>
<% include generic/scripts.ejs %>
<% if (locals.user) { %>
    <% include generic/auth_scripts.ejs %>
<% } %>
</body>
</html>