<!DOCTYPE html>
<html>
<head>
    <%- head %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/view.css">
    <% if (mode === "edit") { %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/editor.css">
    <% } %>
</head>
<body>
    <%- body %>
    <% if (mode === "edit") { %>
        <% include generic/scripts.ejs %>
        <script type="text/javascript" src="/javascripts/editor.js"></script>
    <% } %>
</body>
</html>