<!DOCTYPE html>
<html>
<head>
    <%- head %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/view.css">
    <% if (mode === "edit") { %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/editor.css">
    <% } %>
</head>
<body>
    <%- body %>
</body>
</html>