<!DOCTYPE html>
<html>
<head>
    <% include generic/head.ejs %>
</head>
<body>
<% include generic/header.ejs %>

<div id="main-wrapper">
    <div class="container">
        <div class="row">
            <div class="col" >
                <iframe src="/document/<%= document._id %>/<%= mode %>/"></iframe>
            </div>
        </div>
    </div>
</div>

<% include generic/footer.ejs %>
<% include generic/scripts.ejs %>
</body>
</html>